In [3]:
import pandas as pd
data = pd.read_csv("eda.csv")

In [4]:
data.head()

,Customer_ID,Age,Gender,City,Signup_Date,Last_Purchase_Date,Product,Units_Sold,Price,Total_Amount,Income,Feedback_Score,Device,Promo_Code,Fraud_Flag,Churned
0,C1000,56.0,Female,Bangalore,2022-10-04,2023-10-10,C,1,800,800,33119.0,2.0,Desktop,LOYAL,0,1
1,C1001,69.0,Female,Kolkata,2024-01-31,2024-10-13,C,3,800,2400,47764.0,2.0,Desktop,SUMMER,0,1
2,C1002,46.0,Male,Delhi,2023-11-07,2024-05-22,B,30,1200,3600,49900.0,3.0,Desktop,NEWUSER,0,0
3,C1003,32.0,Male,Kolkata,2023-01-29,2023-11-28,C,2,800,1600,30213.0,4.0,Desktop,NEWUSER,0,1
4,C1004,60.0,Female,Mumbai,2023-04-02,2023-04-12,C,2,800,1600,62067.0,4.0,Desktop,NONE,0,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         200 non-null    object
 1   Age                 195 non-null    float64
 2   Gender              195 non-null    object
 3   City                200 non-null    object
 4   Signup_Date         200 non-null    object
 5   Last_Purchase_Date  195 non-null    object
 6   Product             200 non-null    object
 7   Units_Sold          200 non-null    int64
 8   Price               200 non-null    object
 9   Total_Amount        200 non-null    int64
 10  Income              195 non-null    float64
 11  Feedback_Score      186 non-null    float64
 12  Device              200 non-null    object
 13  Promo_Code          197 non-null    object
 14  Fraud_Flag          200 non-null    int64
 15  Churned             200 non-null    int64
dtypes: float64(3), int64(4), object(9)
memory usage: 25.1+ KB

In [49]:
median_age = data["Age"].median()

In [50]:
data["Age"] = data["Age"].fillna(median_age)

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         200 non-null    object
 1   Age                 200 non-null    int64
 2   Gender              200 non-null    object
 3   City                200 non-null    object
 4   Signup_Date         200 non-null    object
 5   Last_Purchase_Date  195 non-null    object
 6   Product             200 non-null    object
 7   Units_Sold          200 non-null    int64
 8   Price               200 non-null    object
 9   Total_Amount        200 non-null    int64
 10  Income              200 non-null    float64
 11  Feedback_Score      200 non-null    float64
 12  Device              200 non-null    object
 13  Promo_Code          200 non-null    object
 14  Fraud_Flag          200 non-null    int64
 15  Churned             200 non-null    int64
dtypes: float64(2), int64(5), object(9)
memory usage: 25.1+ KB

In [52]:
data["Age"] = data["Age"].astype(int)

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         200 non-null    object
 1   Age                 200 non-null    int64
 2   Gender              200 non-null    object
 3   City                200 non-null    object
 4   Signup_Date         200 non-null    object
 5   Last_Purchase_Date  195 non-null    object
 6   Product             200 non-null    object
 7   Units_Sold          200 non-null    int64
 8   Price               200 non-null    object
 9   Total_Amount        200 non-null    int64
 10  Income              200 non-null    float64
 11  Feedback_Score      200 non-null    float64
 12  Device              200 non-null    object
 13  Promo_Code          200 non-null    object
 14  Fraud_Flag          200 non-null    int64
 15  Churned             200 non-null    int64
dtypes: float64(2), int64(5), object(9)
memory usage: 25.1+ KB

In [54]:
data["Income"] = data["Income"].fillna(data["Income"]).median()

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         200 non-null    object
 1   Age                 200 non-null    int64
 2   Gender              200 non-null    object
 3   City                200 non-null    object
 4   Signup_Date         200 non-null    object
 5   Last_Purchase_Date  195 non-null    object
 6   Product             200 non-null    object
 7   Units_Sold          200 non-null    int64
 8   Price               200 non-null    object
 9   Total_Amount        200 non-null    int64
 10  Income              200 non-null    float64
 11  Feedback_Score      200 non-null    float64
 12  Device              200 non-null    object
 13  Promo_Code          200 non-null    object
 14  Fraud_Flag          200 non-null    int64
 15  Churned             200 non-null    int64
dtypes: float64(2), int64(5), object(9)
memory usage: 25.1+ KB

In [56]:
data["Feedback_Score"] = data["Feedback_Score"].fillna(data["Feedback_Score"]).median()

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         200 non-null    object
 1   Age                 200 non-null    int64
 2   Gender              200 non-null    object
 3   City                200 non-null    object
 4   Signup_Date         200 non-null    object
 5   Last_Purchase_Date  195 non-null    object
 6   Product             200 non-null    object
 7   Units_Sold          200 non-null    int64
 8   Price               200 non-null    object
 9   Total_Amount        200 non-null    int64
 10  Income              200 non-null    float64
 11  Feedback_Score      200 non-null    float64
 12  Device              200 non-null    object
 13  Promo_Code          200 non-null    object
 14  Fraud_Flag          200 non-null    int64
 15  Churned             200 non-null    int64
dtypes: float64(2), int64(5), object(9)
memory usage: 25.1+ KB

In [58]:
data["Gender"] = data["Gender"].fillna("Unknown")

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         200 non-null    object
 1   Age                 200 non-null    int64
 2   Gender              200 non-null    object
 3   City                200 non-null    object
 4   Signup_Date         200 non-null    object
 5   Last_Purchase_Date  195 non-null    object
 6   Product             200 non-null    object
 7   Units_Sold          200 non-null    int64
 8   Price               200 non-null    object
 9   Total_Amount        200 non-null    int64
 10  Income              200 non-null    float64
 11  Feedback_Score      200 non-null    float64
 12  Device              200 non-null    object
 13  Promo_Code          200 non-null    object
 14  Fraud_Flag          200 non-null    int64
 15  Churned             200 non-null    int64
dtypes: float64(2), int64(5), object(9)
memory usage: 25.1+ KB

In [60]:
data["Promo_Code"] = data["Promo_Code"].fillna("Unknown")

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         200 non-null    object
 1   Age                 200 non-null    int64
 2   Gender              200 non-null    object
 3   City                200 non-null    object
 4   Signup_Date         200 non-null    object
 5   Last_Purchase_Date  195 non-null    object
 6   Product             200 non-null    object
 7   Units_Sold          200 non-null    int64
 8   Price               200 non-null    object
 9   Total_Amount        200 non-null    int64
 10  Income              200 non-null    float64
 11  Feedback_Score      200 non-null    float64
 12  Device              200 non-null    object
 13  Promo_Code          200 non-null    object
 14  Fraud_Flag          200 non-null    int64
 15  Churned             200 non-null    int64
dtypes: float64(2), int64(5), object(9)
memory usage: 25.1+ KB

In [62]:

data.loc[data['Age'] > 100, 'Age']=data['Age'].median()

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         200 non-null    object
 1   Age                 200 non-null    int64
 2   Gender              200 non-null    object
 3   City                200 non-null    object
 4   Signup_Date         200 non-null    object
 5   Last_Purchase_Date  195 non-null    object
 6   Product             200 non-null    object
 7   Units_Sold          200 non-null    int64
 8   Price               200 non-null    object
 9   Total_Amount        200 non-null    int64
 10  Income              200 non-null    float64
 11  Feedback_Score      200 non-null    float64
 12  Device              200 non-null    object
 13  Promo_Code          200 non-null    object
 14  Fraud_Flag          200 non-null    int64
 15  Churned             200 non-null    int64
dtypes: float64(2), int64(5), object(9)
memory usage: 25.1+ KB

In [64]:
data.duplicated().sum()

np.int64(0)

In [65]:
data['City']=data['City'].astype(str).str.strip().str.title()

In [66]:
data["City"].value_counts()

City
Delhi        47
Kolkata      45
Chennai      41
Mumbai       37
Bangalore    30
Name: count, dtype: int64

In [67]:
data["Gender"].value_counts()

Gender
Female     104
Male        90
Unknown      6
Name: count, dtype: int64

In [68]:
data["Device"].value_counts()

Device
Desktop    105
Mobile      95
Name: count, dtype: int64

In [69]:
data['Gender']=data['Gender'].astype(str).str.strip().str.title()

In [70]:
data["Gender"].value_counts()

Gender
Female     104
Male        90
Unknown      6
Name: count, dtype: int64

In [71]:
data["Gender"] = data["Gender"].replace("F", "Female")
data["Gender"] = data["Gender"].replace("M", "Male")

In [72]:
data["Gender"].value_counts()

Gender
Female     104
Male        90
Unknown      6
Name: count, dtype: int64

In [73]:
data["Units_Sold"].value_counts()

Units_Sold
 3     56
 1     51
 2     48
 4     43
 30     1
-1      1
Name: count, dtype: int64

In [74]:
data["Price"].value_counts()

Price
1200       52
800        50
1500       46
500        46
Rs 1200     3
Rs 500      3
Name: count, dtype: int64

In [75]:
data["Total_Amount"].value_counts()

Total_Amount
2400    27
1500    26
3600    16
800     13
500     13
3200    13
4500    13
4800    12
3000    12
1200    11
1600    10
2000    10
1000    10
6000     8
3545     1
3217     1
1413     1
1309     1
597      1
2952     1
Name: count, dtype: int64

In [76]:
data["Income"].value_counts()

Income
48277.0    200
Name: count, dtype: int64

In [77]:
data["Feedback_Score"].value_counts()

Feedback_Score
3.0    200
Name: count, dtype: int64

In [78]:
data["Promo_Code"].value_counts()

Promo_Code
NEWUSER    48
LOYAL      44
SUMMER     38
NONE       37
WINTER     30
Unknown     3
Name: count, dtype: int64

In [79]:
data["Fraud_Flag"].value_counts()

Fraud_Flag
0    197
1      3
Name: count, dtype: int64

In [80]:
data["Churned"].value_counts()

Churned
0    117
1     83
Name: count, dtype: int64

In [81]:
data["Age"].value_counts()

Age
44    10
56     9
61     9
32     7
45     7
31     6
41     6
25     6
52     6
19     5
42     5
64     5
59     5
68     5
18     5
62     5
43     5
53     4
46     4
69     4
28     4
40     4
20     4
26     4
21     4
57     4
50     4
39     4
24     4
54     4
49     3
35     3
38     3
58     3
30     3
47     2
22     2
34     2
60     2
37     2
29     2
65     2
66     2
33     2
23     2
36     1
55     1
3      1
67     1
27     1
48     1
51     1
Name: count, dtype: int64

In [82]:
data['Last_Purchase_Date']=pd.to_datetime(data['Last_Purchase_Date'])

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         200 non-null    object
 1   Age                 200 non-null    int64
 2   Gender              200 non-null    object
 3   City                200 non-null    object
 4   Signup_Date         200 non-null    object
 5   Last_Purchase_Date  195 non-null    datetime64[ns]
 6   Product             200 non-null    object
 7   Units_Sold          200 non-null    int64
 8   Price               200 non-null    object
 9   Total_Amount        200 non-null    int64
 10  Income              200 non-null    float64
 11  Feedback_Score      200 non-null    float64
 12  Device              200 non-null    object
 13  Promo_Code          200 non-null    object
 14  Fraud_Flag          200 non-null    int64
 15  Churned             200 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(8)
memory usage: 25.1+ KB

In [85]:
data['Signup_Date'] = pd.to_datetime(
    data['Signup_Date'],
    errors='coerce'
)

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         200 non-null    object
 1   Age                 200 non-null    int64
 2   Gender              200 non-null    object
 3   City                200 non-null    object
 4   Signup_Date         195 non-null    datetime64[ns]
 5   Last_Purchase_Date  195 non-null    datetime64[ns]
 6   Product             200 non-null    object
 7   Units_Sold          200 non-null    int64
 8   Price               200 non-null    object
 9   Total_Amount        200 non-null    int64
 10  Income              200 non-null    float64
 11  Feedback_Score      200 non-null    float64
 12  Device              200 non-null    object
 13  Promo_Code          200 non-null    object
 14  Fraud_Flag          200 non-null    int64
 15  Churned             200 non-null    int64
dtypes: datetime64[ns](2), float64(2), int64(5), object(7)
memory usage: 25.1+ KB

In [87]:
data.head()

,Customer_ID,Age,Gender,City,Signup_Date,Last_Purchase_Date,Product,Units_Sold,Price,Total_Amount,Income,Feedback_Score,Device,Promo_Code,Fraud_Flag,Churned
0,C1000,56,Female,Bangalore,2022-10-04,2023-10-10,C,1,800,800,48277.0,3.0,Desktop,LOYAL,0,1
1,C1001,69,Female,Kolkata,2024-01-31,2024-10-13,C,3,800,2400,48277.0,3.0,Desktop,SUMMER,0,1
2,C1002,46,Male,Delhi,2023-11-07,2024-05-22,B,30,1200,3600,48277.0,3.0,Desktop,NEWUSER,0,0
3,C1003,32,Male,Kolkata,2023-01-29,2023-11-28,C,2,800,1600,48277.0,3.0,Desktop,NEWUSER,0,1
4,C1004,60,Female,Mumbai,2023-04-02,2023-04-12,C,2,800,1600,48277.0,3.0,Desktop,NONE,0,0

In [89]:
data["Price"]=(
    data["Price"]
    .astype(str)
    .str.replace("Rs","",regex=False)
    .str.strip()
)

data["Price"]=pd.to_numeric(data["Price"],errors="coerce")

In [90]:
data["Price"].value_counts()

Price
1200.0    52
800.0     50
1500.0    46
500.0     46
Name: count, dtype: int64

In [91]:
data["Full_Location"]= data["City"]+"_India"

In [92]:
data[["Cleaned_city","country"]]=data["Full_Location"].str.split("_",expand=True)

In [93]:
data["customer_profile"]=data["Gender"].astype(str)+"_"+data["City"]

In [94]:
data["Signup_Month"]=data["Signup_Date"].dt.to_period('M')

In [95]:
data["Age_Group"]=pd.cut(
    data["Age"],
    bins=[0,18,30,45,60,100],
    labels=["Teen","Young_Adult","Adult","senior","Elder"]
)

In [96]:
data["Expected_Revenue"]=data['Units_Sold']*data['Price']

In [97]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         200 non-null    object
 1   Age                 200 non-null    int64
 2   Gender              200 non-null    object
 3   City                200 non-null    object
 4   Signup_Date         195 non-null    datetime64[ns]
 5   Last_Purchase_Date  195 non-null    datetime64[ns]
 6   Product             200 non-null    object
 7   Units_Sold          200 non-null    int64
 8   Price               194 non-null    float64
 9   Total_Amount        200 non-null    int64
 10  Income              200 non-null    float64
 11  Feedback_Score      200 non-null    float64
 12  Device              200 non-null    object
 13  Promo_Code          200 non-null    object
 14  Fraud_Flag          200 non-null    int64
 15  Churned             200 non-null    int64
 16  price               200 non-null    object
 17  Full_Location       200 non-null    object
 18  Cleaned_city        200 non-null    object
 19  country             200 non-null    object
 20  customer_profile    200 non-null    object
 21  Signup_Month        195 non-null    period[M]
 22  Age_Group           200 non-null    category
 23  Expected_Revenue    194 non-null    float64
dtypes: category(1), datetime64[ns](2), float64(4), int64(5), object(11), period[M](1)
memory usage: 36.5+ KB

In [98]:

data["Revenue_difference"]=data['Total_Amount']-data['Expected_Revenue']

In [100]:
data['days_Active']=data['Last_Purchase_Date']-data['Signup_Date']

In [101]:
invalid_dates=data[data["Last_Purchase_Date"]<data["Signup_Date"]]

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         200 non-null    object
 1   Age                 200 non-null    int64
 2   Gender              200 non-null    object
 3   City                200 non-null    object
 4   Signup_Date         195 non-null    datetime64[ns]
 5   Last_Purchase_Date  195 non-null    datetime64[ns]
 6   Product             200 non-null    object
 7   Units_Sold          200 non-null    int64
 8   Price               194 non-null    float64
 9   Total_Amount        200 non-null    int64
 10  Income              200 non-null    float64
 11  Feedback_Score      200 non-null    float64
 12  Device              200 non-null    object
 13  Promo_Code          200 non-null    object
 14  Fraud_Flag          200 non-null    int64
 15  Churned             200 non-null    int64
 16  price               200 non-null    object
 17  Full_Location       200 non-null    object
 18  Cleaned_city        200 non-null    object
 19  country             200 non-null    object
 20  customer_profile    200 non-null    object
 21  Signup_Month        195 non-null    period[M]
 22  Age_Group           200 non-null    category
 23  Expected_Revenue    194 non-null    float64
 24  Revenue_difference  194 non-null    float64
 25  days_Active         191 non-null    timedelta64[ns]
dtypes: category(1), datetime64[ns](2), float64(5), int64(5), object(11), period[M](1), timedelta64[ns](1)
memory usage: 39.6+ KB

In [106]:
data["Price"] = data["Price"].fillna(data["Price"]).median()

In [107]:
data.head()

,Customer_ID,Age,Gender,City,Signup_Date,Last_Purchase_Date,Product,Units_Sold,Price,Total_Amount,...,price,Full_Location,Cleaned_city,country,customer_profile,Signup_Month,Age_Group,Expected_Revenue,Revenue_difference,days_Active
0,C1000,56,Female,Bangalore,2022-10-04,2023-10-10,C,1,1200.0,800,...,800,Bangalore_India,Bangalore,India,Female_Bangalore,2022-10,senior,800.0,0.0,371 days
1,C1001,69,Female,Kolkata,2024-01-31,2024-10-13,C,3,1200.0,2400,...,800,Kolkata_India,Kolkata,India,Female_Kolkata,2024-01,Elder,2400.0,0.0,256 days
2,C1002,46,Male,Delhi,2023-11-07,2024-05-22,B,30,1200.0,3600,...,1200,Delhi_India,Delhi,India,Male_Delhi,2023-11,senior,36000.0,-32400.0,197 days
3,C1003,32,Male,Kolkata,2023-01-29,2023-11-28,C,2,1200.0,1600,...,800,Kolkata_India,Kolkata,India,Male_Kolkata,2023-01,Adult,1600.0,0.0,303 days
4,C1004,60,Female,Mumbai,2023-04-02,2023-04-12,C,2,1200.0,1600,...,800,Mumbai_India,Mumbai,India,Female_Mumbai,2023-04,senior,1600.0,0.0,10 days

In [109]:
data["Price"].value_counts()

Price
1200.0    200
Name: count, dtype: int64

In [110]:
data['price'] = pd.to_numeric(data['price'], errors='coerce')
data['Price'] = data['Price'].fillna(data['price'])

In [111]:
data['Expected_Revenue'] = data['Units_Sold'] * data['Price']
data['Revenue_difference'] = data['Total_Amount'] - data['Expected_Revenue']

In [112]:
data['days_Active'] = data['days_Active'].dt.days

In [113]:
data['Avg_Order_Value'] = data['Total_Amount'] / data['Units_Sold']

In [114]:
data['High_Value_Customer'] = (data['Total_Amount'] > data['Total_Amount'].median()).astype(int)

In [115]:
data.columns = data.columns.str.lower().str.strip()

In [116]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          200 non-null    object
 1   age                  200 non-null    int64
 2   gender               200 non-null    object
 3   city                 200 non-null    object
 4   signup_date          195 non-null    datetime64[ns]
 5   last_purchase_date   195 non-null    datetime64[ns]
 6   product              200 non-null    object
 7   units_sold           200 non-null    int64
 8   price                200 non-null    float64
 9   total_amount         200 non-null    int64
 10  income               200 non-null    float64
 11  feedback_score       200 non-null    float64
 12  device               200 non-null    object
 13  promo_code           200 non-null    object
 14  fraud_flag           200 non-null    int64
 15  churned              200 non-null    int64
 16  price                200 non-null    int64
 17  full_location        200 non-null    object
 18  cleaned_city         200 non-null    object
 19  country              200 non-null    object
 20  customer_profile     200 non-null    object
 21  signup_month         195 non-null    period[M]
 22  age_group            200 non-null    category
 23  expected_revenue     200 non-null    float64
 24  revenue_difference   200 non-null    float64
 25  days_active          191 non-null    float64
 26  avg_order_value      200 non-null    float64
 27  high_value_customer  200 non-null    int64
dtypes: category(1), datetime64[ns](2), float64(7), int64(7), object(10), period[M](1)
memory usage: 42.7+ KB

In [117]:
data.to_csv("Final_Data.csv")